.input__radio {
  margin-block: 10px;
  display: flex;
  justify-content: space-evenly;
  border: solid 0.6px black;
  border-radius: 8px;
  overflow: hidden;
}
.input__radio input {
  display: none;
}

.input__radio label {
  width: 100%;
  height: 100%;
}

.input__radio span {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-block: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.95em;
}
.input__radio span:hover {
  filter: brightness(0.93);
}

.input__radio label input:checked + span {
  background: #ed8e53;
  border-inline: solid 2px black;
  height: 100%;
  color: white;
}

/* 
  Media queries
*/

@media (max-width: 1115px) {
  .input__radio span {
    font-size: 0.9em;
  }
}
@media (max-width: 900px) {
  .input__radio {
    font-size: 0.85em;
  }
}
