.section {
  flex: 7;
}
.informations__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  row-gap: 20px;
  column-gap: 40px;
  margin-block: 20px;
  padding-inline: 20px;
}
.informations__item {
  text-align: center;
  background-color: #f4f4f4;
  padding: 5px;
  box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.5);
  animation: 1s animateInfoItem;
  transition: 0.4s;
  z-index: 0;
}
.informations__item:hover {
  transform: scale(1.05);
}
.informations__item h3 {
  font-size: 1em;
  margin-bottom: 20px;
}
.informations__font--green {
  color: green;
}
.graph h2 {
  margin-left: 10px;
  font-size: 1.1em;
}
.graph {
  padding: 5px 15px;
}

/* 
  keyframes
*/
@keyframes animateInfoItem {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

/* 
  Media queries
*/
@media (max-width: 525px) {
  .informations__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .informations__item {
    font-size: 0.9em;
  }
}
